# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
api/router/__pycache__/
api/__pycache__/
api/__pycache__/database.cpython-39.pyc
api/__pycache__/main.cpython-39.pyc
api/__pycache__/model.cpython-39.pyc
api/__pycache__/schema.cpython-39.pyc
api/router/__pycache__/admin.cpython-39.pyc
api/router/__pycache__/category.cpython-39.pyc
api/router/__pycache__/member.cpython-39.pyc
api/router/__pycache__/order.cpython-39.pyc
api/router/__pycache__/product.cpython-39.pyc
